{% extends 'base.html' %}
{% block container %} 
{% load paginator %}
 <h1>Extractor List</h1>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>#</th>
				<th>Name</th>
				<th>Type</th>
				<th>Instance</th>
				<th>File</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for object in object_list %}
				<tr>
					<td>{{object.id}}</td>
					<td>{{object.extractor_name}}</td>
					<td>{{object.extractor_type}}</td>
					<td>{{object.instance}}</td>
					<td>{{object.extractor_file}}</td>
					<td><a href="{%url 'extractor_edit' pk=object.id %}"  class="btn btn-warning btn-xs">Edit</a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="dataTables_info" id="sample_2_info" role="status" aria-live="polite">
				{% get_paginator paginator page_obj %}
			</div>
		</div>
	</div> <!--</div> -->
{% endblock %}
